version: "3.9"

services:
  app:
    build: .
    container_name: project-app
    ports:
      - "5000:5000"
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_NAME=projectdb
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: project-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=projectdb
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
